* {
  font-family: "Yomogi", cursive;
  color: #ffffff;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #000010;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  user-select: none;
}

#app {
  position: relative;
  overflow-x: hidden;
}

#title {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title > #title-logo-wrapper {
  width: 300px;
  height: 365px;
  position: relative;
  user-select: none;
  padding-bottom: 100px;
}

#title > #title-logo-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

@media screen and (max-width: 576px) {
  #title > #title-logo-wrapper {
    width: 200px;
    height: 222px;
  }
}

#songs {
  margin-bottom: 50px;
}

#songs .song {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#songs .song > .wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 0 40px;
}

#songs .track-number {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 120px;
  font-weight: 700;
  color: #999999;
  opacity: 0;
  filter: blur(2px);
  transform: translateY(-50%);
  user-select: none;
}

#songs .slash {
  position: absolute;
  top: 100px;
  right: 170px;
  user-select: none;
  opacity: 0;
}

#songs .slash::before {
  content: " ";
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: -1px;
  right: -250px;
  width: 500px;
  height: 2px;
  transform: rotateZ(-30deg);
}

#songs .song-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0 10px 80px;
  opacity: 0;
}

#songs .composer {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-align: right;
  opacity: 0;
}

#songs .sns-link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  user-select: none;
  opacity: 0;
}

#songs .sns-link.sc {
  width: 64px;
}

#songs .sns-link.tw {
  width: 48px;
}

#songs .sns-link:not(:first-child) {
  margin-left: 20px;
}

#songs .sns-link > img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  #songs .track-number {
    font-size: 80px;
  }

  #songs .song-title {
    font-size: 32px;
    margin-left: 20px;
  }
}

#information {
  min-height: 80vh;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#information > .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

#information .jacket-wrapper {
  display: flex;
  max-width: 500px;
  box-shadow: #ffb492 0 0 20px;
  user-select: none;
}

#information .jacket-wrapper > img {
  width: 100%;
}

#information .description-wrapper {
  margin-left: 30px;
}

@media screen and (max-width: 1039px) {
  #information .description-wrapper {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
  }
}

#information .title {
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  text-align: center;
  letter-spacing: 8px;
}

#information .circle-name {
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}

#information .track-list-title {
  font-size: 16px;
  margin-bottom: 4px;
  border-bottom: 1px solid #ffffff;
}

#information .track-list {
  list-style: none;
  padding: 0;
  margin: 0 0 32px;
}

#information .track-list > li {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#information .other-credit {
  list-style: none;
  padding: 0;
  margin: 0 0 32px;
}

#information .price,
#information .place {
  font-size: 24px;
}

#crossfade {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  padding: 0 20px;
}

#links {
  padding-bottom: 50px;
}

#links .wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
}

#links .sns-link-container {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  margin-bottom: 10px;
}

#links .official-sns-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  transition-duration: 0.3s;
  position: relative;
}

#links .official-sns-link:not(:first-child) {
  margin-left: 30px;
}

#links .official-sns-link::after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: 0.3s ease-out;
}

#links .official-sns-link:hover::after {
  width: 100%;
}

#links .official-sns-link.yt:hover {
  color: #ff0000;
}

#links .official-sns-link.yt:hover::after {
  background-color: #ff0000;
}

#links .official-sns-link.sc:hover {
  color: #fe5000;
}

#links .official-sns-link.sc:hover::after {
  background-color: #fe5000;
}

#links .official-sns-link.tw:hover {
  color: #1da1f2;
}

#links .official-sns-link.tw:hover::after {
  background-color: #1da1f2;
}

#links .circle-link {
  max-width: 400px;
  margin-top: 20px;
  transition-duration: 0.2s;
}

#links .circle-link:hover {
  opacity: 0.6;
}

#links .circle-link > img {
  width: 100%;
}

#audio-check-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #050510;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.5s ease;
}

#audio-check-screen.closing {
  opacity: 0;
}

#audio-check-screen > .loading {
  opacity: 1;
  transition-duration: 0.5s;
}

#audio-check-screen > .loading.fadeout {
  opacity: 0;
}

#audio-check-screen.ready > .loading {
  display: none;
}

#audio-check-screen > .caption {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  display: none;
  opacity: 0;
  transition: 0.5s;
}

@media screen and (max-width: 576px) {
  #audio-check-screen > .caption {
    font-size: 24px;
  }
}

#audio-check-screen > #audio-check-ok {
  border-radius: 25px;
  border: 1px solid #ffffff;
  background: transparent;
  font-size: 28px;
  align-items: center;
  height: 50px;
  padding: 0 60px;
  cursor: pointer;
  transition-duration: 0.2s;
  display: none;
  opacity: 0;
  transition-duration: 0.5s;
}

#audio-check-screen > #audio-check-ok > div {
  margin-bottom: 4px;
}

#audio-check-screen.ready > .caption,
#audio-check-screen.ready > #audio-check-ok {
  display: flex;
}

#audio-check-screen.ready.fadein > .caption,
#audio-check-screen.ready.fadein > #audio-check-ok {
  opacity: 1;
}

#audio-check-screen.ready.fadein > #audio-check-ok:hover {
  opacity: 0.5;
}
